community==1.0.0b1
gensim==3.8.3
igraph==0.1.11
javalang==0.12.0
kneed==0.6.0
networkx==2.3
nltk==3.6.6
numexpr==2.7.1
numpy==1.18.1
pandas==1.0.3
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
sklearn==0.0
pyLDAvis==2.1.2
karateclub==1.0.1
stop-words==2018.7.23
multipledispatch==0.6.0
